<div class="event-details">
  <div class="container my-5">
    <div
      class="controls-wrapper d-flex p-3 justify-content-end align-items-center"
    >
      <div
        class="controls rounded-4 d-flex align-items-center justify-content-center gap-2"
      >
        <!-- <button class="btn d-flex align-items-center justify-content-center">
          <i class="fa-solid fa-arrow-up-from-bracket"></i>
        </button> -->

        <!-- <button
          class="btn d-flex align-items-center justify-content-center heart-icon"
        >
          <i class="fa-regular fa-heart"></i>
        </button> -->

        <button
          class="btn d-flex align-items-center justify-content-center close-btn ms-4"
          (click)="close()"
        >
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-7">
        <p-timeline
          [value]="eventsWithIndex"
          class="w-full md:w-20rem"
          align="right"
        >
          <ng-template pTemplate="content" let-event let-i="index">
            <div class="content">
              <h5 class="mb-4" [ngClass]="{ 'h2 fw-bold': event.index === 0 }">
                <ng-container
                  *ngIf="
                    event.status.split(' ').length === 2;
                    else longerStatus
                  "
                >
                  <span class="heading-color">{{
                    event.status.split(" ")[0]
                  }}</span>
                  <span> {{ event.status.split(" ")[1] }}</span>
                </ng-container>
                <ng-template #longerStatus>
                  <span class="heading-color">{{
                    event.status.split(" ").slice(0, 2).join(" ")
                  }}</span>
                  <span> {{ event.status.split(" ").slice(2).join(" ") }}</span>
                </ng-template>
              </h5>
              <p class="mb-5">{{ event.description }}</p>
            </div>
          </ng-template>
        </p-timeline>

        <div class="testimonials-content position-relative overflow-hidden">
          <div class="row">
            <div class="col-md-9 col-11 ms-auto">
              <div class="carousel-container">
                <div class="navigation-dots d-flex flex-column gap-2">
                  <div
                    #dot1
                    class="dot"
                    [class.active-dot]="activeSlideIndex === 0"
                  ></div>
                  <div
                    #dot2
                    class="dot"
                    [class.active-dot]="activeSlideIndex === 1"
                  ></div>
                  <div
                    #dot3
                    class="dot"
                    [class.active-dot]="activeSlideIndex === 2"
                  ></div>
                  <div
                    #dot4
                    class="dot"
                    [class.active-dot]="activeSlideIndex === 3"
                  ></div>
                </div>

                <div class="carousel">
                  <swiper-container
                    #testimonialSwiper
                    slides-per-view="1"
                    [spaceBetween]="50"
                    (swiperslidechangetransitionend)="onSlideChange()"
                  >
                    <swiper-slide
                      *ngFor="let item of [1, 2, 3, 4]; let i = index"
                    >
                      <div class="slide pb-4 pt-5 px-5" dir="rtl">
                        <img
                          src="./assets/images/quote.png"
                          alt="quote symbol"
                          class="quote-symbol"
                        />
                        <div class="feedback-content">
                          <p class="my-4 fw-semibold">
                            كانت تجربة العمل مع Ctrl+P استثنائية. لقد أبدعوا في
                            تحويل رؤيتنا ليوم التأسيس إلى واقع حي بكل احترافية
                            وإبداع.
                          </p>
                        </div>
                        <div
                          class="review-author d-flex justify-content-between align-items-center border-top pt-4"
                        >
                          <div class="author d-flex gap-2 align-items-center">
                            <img
                              src="./assets/images/home/hero-image.png"
                              alt="profile-icon"
                            />
                            <h5 class="author-name fw-normal mb-0">
                              Barbara D. Smith
                            </h5>
                          </div>
                          <div class="rating">
                            <i class="fa-solid fa-star star-color"></i>
                            <i class="fa-solid fa-star star-color"></i>
                            <i class="fa-solid fa-star star-color"></i>
                            <i class="fa-solid fa-star star-color"></i>
                            <i class="fa-solid fa-star star-color"></i>
                          </div>
                        </div>
                      </div>
                    </swiper-slide>
                  </swiper-container>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="contact-us mt-5">
          <h4 dir="rtl">
            <span class="fw-bold h3">لديك مشروع في ذهنك؟</span> دعنا نحقق رؤيتك!
          </h4>
          <button
            class="main-btn px-5 py-2 rounded-5 ms-auto fs-5 fw-bold mt-4"
            routerLink="/about-us"
          >
            تواصل معنا
          </button>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="event-images w-100 h-100">
          <img
            class="rounded-3 image-1"
            src="./assets/images/portfolio/1.jpg"
            alt="event image"
          />
          <img
            class="rounded-3 image-2"
            src="./assets/images/portfolio/2.png"
            alt="event image"
          />
          <img
            class="rounded-3 image-3"
            src="./assets/images/portfolio/3.jpg"
            alt="event image"
          />
          <img
            class="rounded-3 image-4"
            src="./assets/images/portfolio/4.jpg"
            alt="event image"
          />
          <img
            class="rounded-3 image-5"
            src="./assets/images/portfolio/5.jpg"
            alt="event image"
          />
          <div
            class="rounded-3 more-images image-6 overflow-hidden pointer"
            (click)="eventGallery(1)"
          >
            <img src="./assets/images/portfolio/6.jpg" alt="event image" />
            <div class="overlay">
              <h5 class="h4 mb-0">+20</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
