<section
  class="hero d-flex align-items-center justify-content-center position-relative overflow-hidden"
>
  <div class="blurred-balls"></div>
  <div class="blurred-balls white"></div>

  <div class="heading text-center">
    <h1 class="fw-bold"><span class="heading-color"> Our </span> Partners</h1>
    <p class="mb-0">
      Proudly collaborating with leading brands and businesses.
    </p>
  </div>
</section>

<section class="trusted-brands">
  <div class="container">
    <div class="row gx-5 gy-4">
      <div class="col-lg-6">
        <img src="./assets/images/partners-page/hands.png" alt="image" />
      </div>
      <div class="col-lg-6">
        <div class="content h-100 d-flex flex-column justify-content-center">
          <h2 class="fw-bold">
            Trusted by <span class="heading-color"> Leading Brands </span>
          </h2>
          <p class="mb-0">
            We take pride in working with some of the most prestigious brands
            and organizations across various industries. From creative design
            projects to large-scale events, our partnerships have helped us
            deliver top-quality results and exceed expectations. Below are some
            of the valued clients/partners who trust us with their business.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="partners">
  <div class="container overflow-hidden position-relative rounded-5 p-5">
    <div class="vector position-absolute">
      <img src="./assets/images/partners-page/vector.png" alt="vector" />
    </div>
    <div class="heading mb-5">
      <h2 class="fw-bold mb-3">
        Our Valued <span class="fs-1">Partners</span>
      </h2>
      <p class="fw-normal">
        We proudly collaborate with a diverse range of esteemed clients and
        partners, delivering exceptional projects across various industries.
        Explore the brands that trust us with their most important work.
      </p>
    </div>

    <div class="row g-4">
      <div
        class="col-xl-2 col-lg-3 col-md-4 col-6"
        *ngFor="
          let item of [
            1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
            20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30
          ]
        "
      >
        <div
          class="partner-link d-flex align-items-center justify-content-center rounded-3"
        >
          <img src="./assets/images/partners-page/partners/1.png" alt="image" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="why-us my-sections position-relative">
  <div class="blurred-balls"></div>

  <div class="container">
    <h3 class="fw-light text-center">
      <span class="heading-color fw-bold">Why Partner</span> With Us?
    </h3>

    <div class="features row g-4">
      <div class="col-lg-3 col-6">
        <div
          class="feature d-flex align-items-center justify-content-center flex-column"
        >
          <div
            class="icon d-flex align-items-center justify-content-center mb-3"
          >
            <img
              src="./assets/images/icons/Hotel-Five-Star--Streamline-Core.png"
              alt="icon"
            />
          </div>

          <h4 class="h3">Experience</h4>
          <p class="text-center mb-0">
            With 13+ years of expertise, we know the industry inside out,
            ensuring flawless execution of your event.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div
          class="feature d-flex align-items-center justify-content-center flex-column"
        >
          <div
            class="icon d-flex align-items-center justify-content-center mb-3"
          >
            <img
              src="./assets/images/icons/Collaborations-Idea--Streamline-Core.png"
              alt="icon"
            />
          </div>

          <h4>Talent</h4>
          <p class="text-center mb-0">
            Our team of specialists in every field collaborates to develop and
            implement your event seamlessly.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div
          class="feature d-flex align-items-center justify-content-center flex-column"
        >
          <div
            class="icon d-flex align-items-center justify-content-center mb-3"
          >
            <img
              src="./assets/images/icons/Business-Handshake--Streamline-Core.png"
              alt="icon"
            />
          </div>

          <h4>Broadness</h4>
          <p class="text-center mb-0">
            We offer comprehensive event services, from planning and design to
            execution, activation, and closure.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div
          class="feature d-flex align-items-center justify-content-center flex-column"
        >
          <div
            class="icon d-flex align-items-center justify-content-center mb-3"
          >
            <img
              src="./assets/images/icons/Share-Setting-Bolt--Streamline-Core.png"
              alt="icon"
            />
          </div>

          <h4>Assets</h4>
          <p class="text-center mb-0">
            Equipped with carpentry, printing, and souvenir manufacturing
            workshops, we manage your event with complete professionalism.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="join-us">
  <div class="container d-flex align-items-start justify-content-between gap-2">
    <p class="fs-3 fw-light">
      <span class="fw-bold"
        >Interested in
        <span class="heading-color">partnering with us</span>?</span
      >
      Let’s discuss how we can help bring your vision to life.
    </p>

    <button class="fw-normal rounded-5 main-btn px-5 py-3">Be a partner</button>
  </div>
</section>
