<app-home-navbar></app-home-navbar>

<section
  class="hero overflow-hidden d-flex align-items-center justify-content-center position-relative overflow-hidden"
>
  <div class="container">
    <div class="blurred-balls"></div>
    <div class="blurred-balls white"></div>

    <div class="heading text-center mb-5">
      <h1 class="fw-bold"><span class="heading-color"> Our </span> Services</h1>
      <p class="mb-0 mx-auto">
        Explore our range of innovative solutions designed to elevate your brand
        and deliver outstanding results.
      </p>
    </div>

    <div class="images d-flex gap-3">
      <img src="./assets/images/our-services/1.png" alt="image" />
      <img src="./assets/images/our-services/3.png" alt="image" />
      <img src="./assets/images/our-services/7.png" alt="image" />
    </div>
  </div>
</section>

<section class="our-solutions">
  <div class="container">
    <div class="heading text-center mb-5">
      <h2 class="mb-3">
        Our <span class="heading-color fw-bold"> Solutions </span>
      </h2>
      <h3 class="fs-4 mb-3">
        Comprehensive Solutions for Your Printing and Design Needs
      </h3>
      <p class="mx-auto">
        At Ctrl+P, we offer a wide range of services tailored to meet all your
        printing and design requirements. Our expert team is dedicated to
        delivering high-quality results that enhance your brand's visibility and
        impact.
      </p>
    </div>

    <div class="row g-4">
      <div
        class="col-lg-4 col-md-6"
        *ngFor="let solution of solutions_images"
        routerLink="Professional Design"
      >
        <div class="solution h-100">
          <img [src]="solution" alt="image" />
          <div class="content d-none">
            <h3 class="h4">Printing</h3>
            <p>
              From small business cards to large-scale corporate materials,
              we've got you covered. We offer a variety of printing solutions,
              including traditional and digital printing, as well as custom
              printing services.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div
          class="content d-flex justify-content-center gap-5 flex-column h-100 p-5"
        >
          <img src="./assets/images/logo.png" alt="logo" />
          <h3 class="fw-bold">Bring Your Vision to Life</h3>
          <button
            class="white-btn fw-semibold fs-4 px-5 py-3 rounded-5 me-auto"
            routerLink="/about-us"
          >
            Get in touch
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact-banner overflow-hidden">
  <div class="container position-relative">
    <img class="star" src="./assets/images/home/banner/star.png" alt="star" />
    <div class="row h-100">
      <div class="col-lg-6 d-flex align-items-center px-0">
        <div
          class="content d-flex flex-column justify-content-around h-100 py-5 px-5"
        >
          <div>
            <h2 class="fw-bold">
              Enjoy 20% Off Your <br />
              First Order!
            </h2>
            <p class="fw-light">
              This exclusive offer is valid until 27/9/2024
            </p>
          </div>

          <div class="contact-buttons d-flex align-items-center gap-3">
            <button
              class="px-3 py-2 d-flex align-items-center justify-content-center gap-3"
            >
              <span
                class="icon d-flex align-items-center justify-content-center"
              >
                <i class="fa-solid fa-phone"></i>
              </span>
              Contact Us
            </button>
            <button
              class="px-3 py-2 d-flex align-items-center justify-content-center gap-3"
            >
              <span
                class="icon d-flex align-items-center justify-content-center"
              >
                <i class="fa-brands fa-whatsapp"></i>
              </span>
              What's app
            </button>
          </div>
        </div>
      </div>

      <div class="col-lg-6 px-0">
        <div class="images">
          <img
            class="vector"
            src="./assets/images/home/banner/vector.png"
            alt="vector"
          />
          <img
            class="man"
            src="./assets/images/our-services/man.png"
            alt="man"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
