<footer class="overflow-hidden py-5">
  <div class="blurred-balls"></div>
  <div class="blurred-balls white"></div>
  <div class="container footer-items">
    <div class="row g-md-5 gy-4 gx-0">
      <div class="col-lg-3 col-md-6 d-flex flex-column justify-content-center">
        <div class="footer-item company">
          <img
            src="./assets/images/logo.png"
            alt="logo"
            class="logo mb-3 pointer"
            routerLink="/"
          />
          <p>
            Lorem ipsum dolor sit amet consectetur. Urna tortor dictum aliquam
            sit mauris.
          </p>
          <ul class="socials mb-0 p-0 d-flex align-items-center gap-2">
            <li
              class="d-flex align-items-center justify-content-center pointer"
            >
              <i class="fa-brands fa-facebook"></i>
            </li>
            <li
              class="d-flex align-items-center justify-content-center pointer"
            >
              <i class="fa-brands fa-twitter"></i>
            </li>
            <li
              class="d-flex align-items-center justify-content-center pointer"
            >
              <i class="fa-brands fa-youtube"></i>
            </li>
            <li
              class="d-flex align-items-center justify-content-center pointer"
            >
              <i class="fa-brands fa-instagram"></i>
            </li>
            <li
              class="d-flex align-items-center justify-content-center pointer"
            >
              <i class="fa-brands fa-linkedin"></i>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="footer-item contacts">
          <div class="title mb-4 text-uppercase">
            <h4 class="mb-0">Contact Us</h4>
          </div>
          <ul class="mb-0 p-0">
            <li class="d-flex gap-2 align-items-center mb-4">
              <img src="./assets/images/icons/home.svg" alt="icon" />
              Ryiadh, Saudi Arabia
            </li>
            <li class="d-flex gap-2 align-items-center mb-4">
              <img src="./assets/images/icons/phone.svg" alt="icon" />

              +966 54 722 3203
            </li>
            <li class="d-flex gap-2 align-items-center mb-4">
              <img src="./assets/images/icons/mail.svg" alt="icon" />

              info&#64;controlpadv.com
            </li>
          </ul>

          <div class="mobile-application d-flex align-items-center gap-3 px-3">
            <a href="#">
              <img
                src="./assets/images/icons/on-google-play.svg"
                alt="google-play"
              />
            </a>
            <a href="#">
              <img
                src="./assets/images/icons/on-google-play.svg"
                alt="app-store"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="footer-item links">
          <div class="title mb-4 text-uppercase">
            <h4 class="mb-0">Links</h4>
          </div>

          <ul class="mb-0 p-0">
            <li class="mb-2 pointer" routerLink="/home">Home</li>
            <li class="mb-2 pointer" routerLink="/about-us">About Us</li>
            <li class="mb-2 pointer" routerLink="/services">Services</li>
            <li class="mb-2 pointer" routerLink="/">Privacy Policy</li>
            <li class="mb-2 pointer" routerLink="/">
              Replacement, Return poll
            </li>
            <li class="mb-2 pointer" routerLink="/contact-us">Contact Us</li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="footer-item info">
          <div class="title mb-4 text-uppercase">
            <h4 class="mb-0">Info</h4>
          </div>

          <p>
            The control p Company is a limited liability company of Saudi
            origin, established in the year 1430 AH Based on The principles of
            the kingdom and the development in the field of advertising,
            advertising and
          </p>

          <div class="payment-methods">
            <span>
              <img
                src="./assets/images/icons/footer-payment.svg"
                alt="payment-methods"
              />
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
