<section
  class="hero d-flex align-items-center justify-content-center position-relative"
>
  <div class="blurred-balls"></div>
  <div class="blurred-balls white"></div>

  <div class="heading text-center">
    <h1 class="fw-bold"><span class="heading-color"> About </span> Us</h1>
    <p class="mb-0">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
      luctus nec ullamcorper mattis, pulvinar dapibus leo.
    </p>
  </div>

  <div class="images position-absolute d-flex align-items-center gap-3">
    <img src="./assets/images/home/work/1.png" alt="image" />
    <img src="./assets/images/home/work/5.png" alt="image" />
    <img src="./assets/images/home/work/6.png" alt="image" />
    <img src="./assets/images/home/work/8.png" alt="image" />
  </div>
</section>

<section class="staff-crew">
  <div class="container">
    <div class="row gx-5 gy-4">
      <div class="col-lg-6">
        <img src="./assets/images/about/staff.jpg" alt="image" />
      </div>
      <div class="col-lg-6">
        <div class="content h-100 d-flex flex-column justify-content-center">
          <h2 class="fw-bold">
            We make sure your idea & creation<span class="heading-color">
              delivered properly
            </span>
          </h2>
          <p class="mb-0">
            The control p Company is a limited liability company of Saudi
            origin, established in the year 1430 AH Based on The principles of
            the kingdom and the development in the field of advertising,
            advertising and digital marketing of what the local market needs,
            finding innovative solutions and highlighting everything new in the
            field
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-us">
  <div class="container rounded-5">
    <div class="row g-5">
      <div class="col-lg-4">
        <div
          class="card d-flex align-items-center justify-content-start p-5 h-100"
        >
          <img src="./assets/images/icons/vision.png" alt="eye" />
          <h3 class="h1 mb-5 fw-bold">Vision</h3>
          <p class="text-center mb-0">
            Control Printing drives innovation for dynamic, sustainable growth,
            benefiting employees, society, and supporting Saudi Arabia's
            expanding economy.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div
          class="card d-flex align-items-center justify-content-start p-5 h-100"
        >
          <img src="./assets/images/icons/message.png" alt="message" />
          <h3 class="h1 mb-5 fw-bold">Mission</h3>
          <p class="text-center mb-0">
            Excellence through sustainable growth driven by innovation, talent
            and responsible care...
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div
          class="card d-flex align-items-center justify-content-start p-5 h-100"
        >
          <img src="./assets/images/icons/group.png" alt="group" />
          <h3 class="h1 mb-5 fw-bold">Team</h3>
          <p class="text-center mb-0">
            Our team members are our greatest asset, our ability to provide the
            best results to our clients begins with our special team of
            technical experts and professional designers.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="team-members overflow-hidden my-5">
  <div class="container overflow-hidden py-5">
    <div class="heading text-center mb-5">
      <h3 class="text-center">
        Our <span class="heading-color fw-bold">Team</span>
      </h3>
      <p class="text-center">
        Convallis ullamcorper aliquet ultrices orci cum vestibulum lobortis erat
      </p>
    </div>
    <swiper-container slides-per-view="4" [spaceBetween]="50">
      <swiper-slide *ngFor="let item of [1, 2, 3, 4]">
        <div class="member">
          <img
            class="mb-4"
            src="./assets/images/about/crew/1.png"
            alt="member"
          />
          <div class="member-info text-center mb-4">
            <h4 class="mb-2">Darlene Robertson</h4>
            <p class="mb-0">Social Media Specialist</p>
          </div>

          <div
            class="member-social d-flex align-items-center justify-content-center gap-2"
          >
            <a
              class="d-flex align-items-center justify-content-center"
              href="https://x.com/"
            >
              <i class="fab fa-x-twitter"></i>
            </a>

            <a
              class="d-flex align-items-center justify-content-center"
              href="https://dribbble.com/"
            >
              <i class="fab fa-dribbble"></i>
            </a>

            <a
              class="d-flex align-items-center justify-content-center"
              href="https://www.instagram.com/"
            >
              <i class="fab fa-instagram"></i>
            </a>

            <a
              class="d-flex align-items-center justify-content-center"
              href="https://www.facebook.com/"
            >
              <i class="fab fa-facebook-f"></i>
            </a>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</section>

<section class="our-features my-5">
  <div class="container text-center">
    <h2 class="h1">
      Buyers <span class="heading-color fw-bold"> trust us </span>
    </h2>
    <p>Our Strategy Is To Provide Our Customers With Quality Products</p>
    <p class="description my-5">
      If the copy becomes distracting in the design then you are doing something
      wrong or they are discussing copy changes. It might be a bit annoying but
      you could tell them that that discussion would be best suited. You begin
      with a text, you sculpt information, you chisel away what’s not needed,
      you come.
    </p>

    <div class="row">
      <div class="col-lg-4">
        <div class="feature">
          <img
            class="mb-4"
            src="./assets/images/about/icons/truck.png"
            alt="truck"
          />
          <h3 class="h4">Fast Delivery</h3>
          <p class="mb-0 mx-auto">
            Chances are there wasn’t collaboration and checkpoints, there wasn’t
            a process.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="feature">
          <img
            class="mb-4"
            src="./assets/images/about/icons/like.png"
            alt="truck"
          />
          <h3 class="h4">Best Quality</h3>
          <p class="mb-0 mx-auto">
            It's content strategy gone awry right from the start. Forswearing
            the use of Lorem Ipsum.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="feature">
          <img
            class="mb-4"
            src="./assets/images/about/icons/return.png"
            alt="truck"
          />
          <h3 class="h4">Free Return</h3>
          <p class="mb-0 mx-auto">
            True enough, but that's not all that it takes to get things back on
            track out there for a text.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="how-we-work">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="content">
          <img
            class="mb-4 rounded-5"
            src="./assets/images/about/mac.jpg"
            alt="image"
          />
          <h4 class="h5 fw-bold">How we work</h4>
          <p class="my-5">
            At <span class="fw-bold">Ctrl+P</span>, our process is built on a
            foundation of creativity, collaboration, and attention to detail.
            Here's how we work:
          </p>

          <ul>
            <li class="mb-3">
              <h5>Consultation:</h5>
              <p class="mb-0">
                We start with understanding your goals and vision.
              </p>
            </li>
            <li class="mb-3">
              <h5>Design:</h5>
              <p class="mb-0">
                Our team crafts unique designs tailored to your needs.
              </p>
            </li>
            <li class="mb-3">
              <h5>Execution:</h5>
              <p class="mb-0">
                We handle everything from setup to final delivery.
              </p>
            </li>
            <li class="mb-3">
              <h5>Quality Check:</h5>
              <p class="mb-0">Every detail is checked for flawless results</p>
            </li>
            <li class="mb-3">
              <h5>Support:</h5>
              <p class="mb-0">
                Post-project support to ensure long-term success.
              </p>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="content">
          <img
            class="mb-4 rounded-5"
            src="./assets/images/about/book.jpg"
            alt="image"
          />
          <h4 class="h5 fw-bold">How we do</h4>
          <p class="my-5">
            At <span class="fw-bold">Ctrl+P</span>, we offer a comprehensive
            suite of services designed to meet all your advertising, event
            management, and printing needs. From concept to execution, we bring
            your vision to life with creativity, precision, and professionalism.
            Here’s what we do:
          </p>

          <ul>
            <li class="mb-3">
              <h5>Event Management:</h5>
              <p class="mb-0">
                Full-service event planning, from concept to execution.
              </p>
            </li>
            <li class="mb-3">
              <h5>Signage & Murals:</h5>
              <p class="mb-0">
                Custom signage and murals for impactful branding.
              </p>
            </li>
            <li class="mb-3">
              <h5>Vehicle Branding:</h5>
              <p class="mb-0">
                Eye-catching vehicle graphics to expand your reach.
              </p>
            </li>
            <li class="mb-3">
              <h5>Exhibitions & Conferences:</h5>
              <p class="mb-0">Seamless management of booths and events.</p>
            </li>
            <li class="mb-3">
              <h5>3D Letters & Facades:</h5>
              <p class="mb-0">
                Custom 3D letters and facades for enhanced visibility.
              </p>
            </li>
            <li class="mb-3">
              <h5>Printing & Leatherworks:</h5>
              <p class="mb-0">
                High-quality printing and custom leather products.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="FAQS my-sections">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="heading">
          <h2 class="fw-bold">Some of your questions answered here</h2>
          <p>
            We often receive questions about our services, and we’re here to
            help.You can get any answers.
          </p>

          <button class="main-btn px-4 py-2 rounded-5 me-auto mt-5">
            <span class="fw-semibold"> Contact us </span>
            <div class="icon d-flex align-items-center justify-content-center">
              <img src="./assets/images/icons/phone.png" alt="phone icon" />
            </div>
          </button>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="row">
          <div class="col-12" *ngFor="let faq of [1, 2, 3, 4]; let i = index">
            <div
              class="faq p-2"
              (click)="toggleExpand(i)"
              [class.expand]="expandedIndex === i"
              data-aos="fade-up"
            >
              <div
                class="question gap-2 mb-2 d-flex align-items-center justify-content-between"
              >
                <h4 class="mb-0">What services does Ctrl+P offer?</h4>
                <i class="fa-solid fa-plus"></i>
              </div>
              <p class="answer mb-0">
                We offer a wide range of services, including event management,
                advertising, vehicle branding, and more.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
