<app-home-navbar></app-home-navbar>

<section class="hero position-relative">
  <div
    class="container-fluid px-container d-flex align-items-end justify-content-centers position-relative overflow-hidden"
  >
    <div class="blurred-balls"></div>
    <div class="blurred-balls"></div>
    <div class="row justify-content-between">
      <div class="col-lg-6">
        <div class="title py-4">
          <h1 class="fw-bold">
            Innovative
            <span class="d-block fw-medium heading-color">
              Printing Solutions
            </span>
          </h1>
          <p class="mt-4">
            Leading the way in printing and digital marketing for the Saudi
            market.
          </p>
          <button
            class="main-btn p-3 rounded-5 me-auto mt-5"
            routerLink="/shop"
          >
            <div class="icon d-flex align-items-center justify-content-center">
              <img src="./assets/images/icons/Cart.png" alt="cart icon" />
            </div>
            <span class="fw-semibold"> Shop Now </span>
          </button>
        </div>
      </div>

      <div
        class="col-lg-6 image d-flex align-items-center justify-content-center"
      >
        <img
          src="./assets/images/home/hero-image.png"
          class="hero-image"
          alt="woman"
        />
      </div>
    </div>
  </div>
  <button class="scroll-down-btn main-btn">
    <img src="./assets/images/icons/arrow-down.png" alt="arrow down" />
  </button>
</section>

<section class="our-work my-sections px-container overflow-hidden">
  <div class="header d-flex justify-content-between align-items-center mb-5">
    <h2 class="h1 text-center fw-bold">
      Our <span class="fw-bold heading-color">Works</span>
    </h2>
    <div class="slider-arrows d-flex align-items-center gap-4">
      <button
        (click)="triggerPrev()"
        [disabled]="preventSlide('prev')"
        class="prev-btn white-outlined-btn"
      >
        <i class="fa-solid fa-arrow-left"></i>
      </button>
      <button
        (click)="triggerNext()"
        [disabled]="preventSlide('next')"
        class="next-btn white-outlined-btn"
      >
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
  </div>

  <div class="work-categories">
    <swiper-container
      slides-per-view="5.25"
      [breakpoints]="ourWorkBreakpoints"
      #ourWorkSwiper
    >
      <swiper-slide *ngFor="let item of [1, 2, 3, 4, 5, 6, 7]">
        <div
          class="category d-flex justify-content-between overflow-hidden px-4 pointer"
        >
          <div class="title d-flex flex-column justify-content-center">
            <h4 class="fw-bold mb-0">Events</h4>
            <p class="mb-0">Sector</p>
          </div>

          <div class="ball"></div>

          <div class="images row g-1">
            <div class="col-6">
              <img src="./assets/images/home/work/1.png" alt="event" />
            </div>
            <div class="col-6">
              <img src="./assets/images/home/work/2.jpg" alt="event" />
            </div>
            <div class="col-6">
              <img src="./assets/images/home/work/3.jpg" alt="event" />
            </div>
            <div class="col-6">
              <img src="./assets/images/home/work/4.jpg" alt="event" />
            </div>
            <div class="col-6">
              <img src="./assets/images/home/work/5.png" alt="event" />
            </div>
            <div class="col-6">
              <img src="./assets/images/home/work/6.png" alt="event" />
            </div>
            <div class="col-6">
              <img src="./assets/images/home/work/7.png" alt="event" />
            </div>
            <div class="col-6">
              <img src="./assets/images/home/work/8.png" alt="event" />
            </div>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>

  <div class="work-preview mt-5">
    <div class="heading d-flex justify-content-between align-items-center">
      <h3 class="fw-ligh mb-0"><span class="fw-bold">Events</span> Sector</h3>
      <button
        class="white-outlined-btn rounded-5 px-3 py-2 fs-5 gap-3"
        routerLink="/portfolio"
      >
        Discover More
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>

    <div class="images mt-5">
      <img
        class="rounded-4 image-1"
        src="./assets/images/home/work/1.png"
        alt="event image"
      />

      <img
        class="rounded-4 image-2"
        src="./assets/images/home/work/2.jpg"
        alt="event image"
      />

      <img
        class="rounded-4 image-3"
        src="./assets/images/home/work/6.png"
        alt="event image"
      />

      <img
        class="rounded-4 image-4"
        src="./assets/images/home/work/4.jpg"
        alt="event image"
      />

      <img
        class="rounded-4 image-5"
        src="./assets/images/home/work/5.png"
        alt="event image"
      />
    </div>
  </div>
</section>

<section class="about">
  <div class="about-content position-relative overflow-hidden">
    <div class="background"></div>
    <div class="container-fluid pb-5">
      <div class="blurred-balls"></div>
      <div class="row gy-4 justify-content-between">
        <div class="col-lg-5 d-flex justify-content-between flex-column">
          <h3 class="h2 mb-2">
            About <br />
            <span class="heading-color fw-bold">CTRL + P</span>
          </h3>

          <p class="mb-2 fw-normal">
            Ctrl+P is a local Advertising 6 Marketing agency established in
            2000, based in we are Riyadh, Saudi Arabia. We have a huge business
            that has been accomplished with senior partners in Saudi Arabia. We
            have a great experience and technical expertise to qualify for mega
            projects.
          </p>

          <button
            class="white-outlined-btn rounded-5 px-3 py-2 fs-5 gap-3 me-auto"
            routerLink="/about-us"
          >
            Discover More
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>

        <div class="col-lg-6 d-flex align-items-center justify-content-center">
          <div class="image position-relative">
            <img src="./assets/images/home/cars.png" alt="about us" />
            <div
              class="logo position-absolute d-flex align-items-center justify-content-center px-2"
            >
              <img src="./assets/images/logo.png" alt="logo" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="why-us my-sections px-container position-relative">
  <div class="blurred-balls"></div>

  <div class="container">
    <h3 class="fw-light text-center">
      Why Choose <span class="heading-color fw-bold">Ctrl+P</span>
    </h3>

    <div class="features row g-4">
      <div class="col-lg-3 col-6">
        <div
          class="feature d-flex align-items-center justify-content-center flex-column"
        >
          <div
            class="icon d-flex align-items-center justify-content-center mb-3"
          >
            <img
              src="./assets/images/icons/Hotel-Five-Star--Streamline-Core.png"
              alt="icon"
            />
          </div>

          <h4 class="h3">Experience</h4>
          <p class="text-center mb-0">
            With 13+ years of expertise, we know the industry inside out,
            ensuring flawless execution of your event.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div
          class="feature d-flex align-items-center justify-content-center flex-column"
        >
          <div
            class="icon d-flex align-items-center justify-content-center mb-3"
          >
            <img
              src="./assets/images/icons/Collaborations-Idea--Streamline-Core.png"
              alt="icon"
            />
          </div>

          <h4>Talent</h4>
          <p class="text-center mb-0">
            Our team of specialists in every field collaborates to develop and
            implement your event seamlessly.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div
          class="feature d-flex align-items-center justify-content-center flex-column"
        >
          <div
            class="icon d-flex align-items-center justify-content-center mb-3"
          >
            <img
              src="./assets/images/icons/Business-Handshake--Streamline-Core.png"
              alt="icon"
            />
          </div>

          <h4>Broadness</h4>
          <p class="text-center mb-0">
            We offer comprehensive event services, from planning and design to
            execution, activation, and closure.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div
          class="feature d-flex align-items-center justify-content-center flex-column"
        >
          <div
            class="icon d-flex align-items-center justify-content-center mb-3"
          >
            <img
              src="./assets/images/icons/Share-Setting-Bolt--Streamline-Core.png"
              alt="icon"
            />
          </div>

          <h4>Assets</h4>
          <p class="text-center mb-0">
            Equipped with carpentry, printing, and souvenir manufacturing
            workshops, we manage your event with complete professionalism.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="our-services position-relative">
  <div class="background position-absolute overflow-hidden">
    <img
      class="banner-star"
      src="./assets/images/home/services/star1.png"
      alt="star"
    />
    <img
      class="banner-star"
      src="./assets/images/home/services/star2.png"
      alt="star"
    />
  </div>
  <div class="services">
    <h3 class="h2 mb-4 fw-light">
      Ctrl + P <br />
      <span class="heading-color fw-bold">Popular service</span>
    </h3>

    <div class="dots d-flex gap-2 mb-5">
      <span
        [class]="dot.className"
        *ngFor="let dot of dotsCount; let i = index"
        (click)="slideTo(i)"
      ></span>
    </div>

    <div class="service-slider">
      <swiper-container
        #serviceSwiper
        slides-per-view="5.5"
        [spaceBetween]="50"
        [breakpoints]="servicesBreakpoints"
        (swiperslidechangetransitionend)="onSlideChange('services')"
        (swiperbreakpoint)="updateDots()"
        pagination="true"
      >
        <swiper-slide *ngFor="let service of services">
          <div class="service pointer">
            <h4 class="fw-bold mb-5">{{ service.name }}</h4>

            <img [src]="service.image" alt="service" class="service-preview" />
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
</section>

<section class="shop position-relative">
  <div class="blurred-balls"></div>
  <div class="container-fluid px-container my-sections">
    <div class="row gy-4">
      <div class="col-lg-3">
        <div class="px-5 py-5 categories-list h-100">
          <h3 class="fw-normal mb-5">
            Shop Our
            <span class="fw-bold">Painting</span>
          </h3>

          <button
            class="dark-outlined-btn px-4 py-2 rounded-5 d-flex gap-4 fw-semibold mb-4"
          >
            Shop More
            <i class="fa-solid fa-arrow-right"></i>
          </button>

          <div class="categories d-flex flex-column gap-4">
            <div
              class="category pointer overflow-hidden"
              *ngFor="let category of productsCategories; let i = index"
              (click)="
                setActiveCategory(
                  category.category.id,
                  category.products,
                  category.category.name
                )
              "
              [class.activeCategory]="i + 1 == activeCategory"
            >
              <p class="mb-3 fw-semibold">{{ category.category.name }}</p>
              <img [src]="category.category.image" alt="category image" />
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <app-home-mini-shop
          [activeCategory]="activeCategory"
          [products]="activeCategoryProducts"
          [categoryName]="activeCategoryName"
        ></app-home-mini-shop>
      </div>
    </div>
  </div>
</section>

<section class="testimonials">
  <div
    class="testimonials-content position-relative ps-sm-5 ps-3 pe-2 overflow-hidden"
  >
    <div class="background"></div>
    <div class="container ps-sm-5 ps-4 position-relative">
      <div class="blurred-balls"></div>
      <div class="row gy-4">
        <div class="col-lg-6 d-flex justify-content-center flex-column">
          <h3 class="h2 mb-2">
            What Our <br />
            <span class="heading-color fw-bold">Clients Say</span>
          </h3>

          <p class="mb-2 fw-light">
            Lorem ipsum dolor sit amet consectetur. Urna tortor dictum aliquam
            sit mauris. Est habitant molestie pulvinar mattis.
          </p>
        </div>

        <div class="col-lg-6">
          <div class="carousel-container">
            <div class="navigation-dots d-flex flex-column gap-2">
              <div
                #dot1
                class="dot"
                [class.active-dot]="activeSlideIndex === 0"
              ></div>
              <div
                #dot2
                class="dot"
                [class.active-dot]="activeSlideIndex === 1"
              ></div>
              <div
                #dot3
                class="dot"
                [class.active-dot]="activeSlideIndex === 2"
              ></div>
              <div
                #dot4
                class="dot"
                [class.active-dot]="activeSlideIndex === 3"
              ></div>
            </div>

            <div class="carousel">
              <swiper-container
                #testimonialSwiper
                slides-per-view="1"
                [spaceBetween]="50"
                (swiperslidechangetransitionend)="onSlideChange('feedbacks')"
              >
                <swiper-slide *ngFor="let review of reviews; let i = index">
                  <div class="slide pb-4 pt-5 px-5">
                    <img
                      src="./assets/images/quote.png"
                      alt="quote symbol"
                      class="quote-symbol"
                    />
                    <div class="review-content">
                      <p class="my-4 fw-semibold">
                        {{ review.content }}
                      </p>
                    </div>
                    <div
                      class="review-author d-flex justify-content-between align-items-center border-top pt-4"
                    >
                      <div class="author d-flex gap-2 align-items-center">
                        <img [src]="review.client_image" alt="profile-icon" />
                        <h5 class="author-name fw-normal mb-0">
                          {{ review.client_name }}
                        </h5>
                      </div>
                      <div class="rating d-flex align-items-center">
                        <i
                          class="fa-solid fa-star star-color"
                          [class.rating-color]="review.rating >= num"
                          *ngFor="let num of [1, 2, 3, 4, 5]"
                        ></i>
                      </div>
                    </div>
                  </div>
                </swiper-slide>
              </swiper-container>
            </div>
          </div>
        </div>
      </div>
      <button
        class="white-outlined-btn px-3 py-1 fs-6 fw-light rounded-5 d-none align-items-center justify-content-center gap-2 mt-4 me-auto"
      >
        Write your comment
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
  </div>
</section>

<section class="partners-slider overflow-hidden my-5 py-5">
  <div class="blurred-balls"></div>

  <ul
    class="list m-0 p-0 d-flex mb-4"
    [ngStyle]="{
      '--quantity': partners.length,
      '--width': '180px',
      '--height': '80px'
    }"
  >
    <li
      *ngFor="let partner of partners; let i = index"
      class="partner-link pointer d-flex align-items-center justify-content-center rounded-3 py-3"
      [ngStyle]="{ '--position': i + 1 }"
    >
      <img [src]="partner.image" alt="partner logo" />
    </li>
  </ul>

  <ul
    class="list m-0 p-0 d-flex"
    [ngStyle]="{
      '--quantity': partners.length,
      '--width': '180px',
      '--height': '80px'
    }"
  >
    <li
      *ngFor="let partner of partners; let i = index"
      class="partner-link reversed pointer d-flex align-items-center justify-content-center rounded-3 py-3"
      [ngStyle]="{ '--position': i + 1 }"
    >
      <img [src]="partner.image" alt="partner logo" />
    </li>
  </ul>
</section>

<section
  class="event-step d-flex align-items-center justify-content-center overflow-hidden"
>
  <div class="images">
    <img src="./assets/images/home/events/8.jpg" alt="image" />
    <img src="./assets/images/home/events/1.jpg" alt="image" />
    <img src="./assets/images/home/events/2.jpg" alt="image" />
    <img src="./assets/images/home/events/3.jpg" alt="image" />
    <img src="./assets/images/home/events/4.jpg" alt="image" />
    <img src="./assets/images/home/events/5.jpg" alt="image" />
    <img src="./assets/images/home/events/6.jpg" alt="image" />
    <img src="./assets/images/home/events/7.jpg" alt="image" />
  </div>
  <div class="content text-center">
    <h3 class="fw-bold fs-1">
      Event success, <br />
      just one step away
    </h3>

    <p class="mx-auto fw-light">
      Whether it's a large-scale event or a custom project, our expert team is
      here to deliver exceptional results. Contact us today and let's turn your
      ideas into reality.
    </p>

    <button class="main-btn p-2 rounded-5 mx-auto">
      <div class="icon d-flex align-items-center justify-content-center">
        <img src="./assets/images/icons/Cart.png" alt="cart icon" />
      </div>
      <span class="fw-semibold mx-2" routerLink="/shop"> Shop Now </span>
    </button>
  </div>
</section>

<section class="contact-banner overflow-hidden">
  <div class="container position-relative">
    <img class="star" src="./assets/images/home/banner/star.png" alt="star" />
    <div class="row h-100">
      <div class="col-lg-6 d-flex align-items-center px-0">
        <div class="content px-5">
          <h2 class="fw-bold">
            Call Us Now for <br />
            Expert Solutions!
          </h2>
          <p class="fw-light">
            Ready to make your event unforgettable or bring your project to
            life? Our team is here to provide the expertise and support you
            need. Whether it’s planning, design, or execution, we’ve got you
            covered.
          </p>

          <div class="contact-buttons d-flex align-items-center gap-3">
            <button
              class="px-3 py-2 d-flex align-items-center justify-content-center gap-3"
            >
              <span
                class="icon d-flex align-items-center justify-content-center"
              >
                <i class="fa-solid fa-phone"></i>
              </span>
              Call Now
            </button>
            <button
              class="px-3 py-2 d-flex align-items-center justify-content-center gap-3"
            >
              <span
                class="icon d-flex align-items-center justify-content-center"
              >
                <i class="fa-brands fa-whatsapp"></i>
              </span>
              What's app
            </button>
          </div>
        </div>
      </div>

      <div class="col-lg-6 px-0">
        <div class="images">
          <img
            class="vector"
            src="./assets/images/home/banner/vector.png"
            alt="vector"
          />
          <img
            class="man"
            src="./assets/images/home/banner/man.png"
            alt="man"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
